

 <div class="ftco-blocks-cover-1" style="margin-top:1%;">
    <div class="ftco-cover-1 overlay innerpage"
      style="background-image: url('assets/images/j.jpg')">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">
            <h1 style="color: white;">RentO Araç Kiralama</h1>
            
          </div>
          <div style="margin-left: 300px;"><img src="assets/images/araba2.jpg" alt="" ></div>
        </div>
      </div>
    </div>
  </div>




